*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
dist
/storage/**/*
launcher.sh
env.list
!/storage
!/storage/*
!/storage/goals/*
!.gitkeep
