<div style="width : 100%; height : 100%; margin : 0; padding: 2rem 0;  border : 0; tex-align:center; background : #ecf0f1;">
  <div style="width : 680px; margin : 0 auto; overflow :hidden;">
    <header style="background-color : #5fc0ed; height : 145px; width : 100%;  position : relative; z-index : 1;">
      <div style="background-image : url('http://kubesoft.com/mutual/mini-icon.png'); height : 100%; width :100%; opacity : .1;  background-position : 0 12px;">
      </div>
    </header>

    <div style="padding :  2rem .5rem .5rem 2rem; height : 700px; position : relative; z-index : 3; padding-top: 3rem;">

      <img style="position : absolute; top: -60px; left: 0;" src="http://kubesoft.com/mutual/bck-children-2.png" />
      <div>
        <img src="http://kubesoft.com/mutual/logo.png" style="float: left;position : relative; margin-top : -6rem;"/>
      </div>

      <div style="margin-top :7rem; color :#36578A;">

      </div>

      <img src="http://kubesoft.com/mutual/image-footer-restore.png" style="position: absolute; bottom : -25px; right : 0;" />

      <img src="http://kubesoft.com/mutual/text-restore.png" style="position :  relative; float: right; margin-top :  -8rem;" alt="Parece que has olvidado tu contraseña" />


      <a href="#" style="position : relative; top : 100px; left : 40px;">

        <img src="http://kubesoft.com/mutual/text-link-restore.png" style="position : relative; top : 90px; left : 60px;" alt="Da click aquí" />
      </a>

      <div style="position : absolute; left: 0 ; bottom: 65px; color: #36578A; font-size: 22px; transform: rotate(270deg) translateY(-75px) translateX(90px);">
        KUBESOFT© 2017
      </div>
    </div>

    <footer style="height : 80px; background-color : #5fc0ed; margin-top: -70px; position : relative; z-index: 1;">
      <div style="background-image : url('http://kubesoft.com/mutual/mini-icon.png'); height : 100%; width :100%; opacity : .1;  background-position : 10px 30px;">
      </div>
    </footer>
  </div>
</div>
