<div style=" width : 100%;  height : 100%;  margin : 0;  padding: 2rem 0;  border : 0;  tex-align:center;  background : #ecf0f1;">
  <div style="width : 680px;  margin : 0 auto; overflow :hidden;height : 869px;background-image: url('http://kubesoft.com/mutual/bck-emails-new.png')">


    <div style="position: relative;margin-top : 8rem;padding: 0 .5rem 0 1rem">
      <img src="http://kubesoft.com/mutual/logo.png"/>

      <div style="position: relative; display:inline-block; float:right; margin-top : 4rem; margin-right : 1rem">
        <img src="http://kubesoft.com/mutual/text-restore.png"  alt="Parece que has olvidado tu contrase침a" />
      </div>

    </div>

    <br />
    <br />
    <br />
    <br />
    <div style="text-align: center;width: 100%">
      <span style="font-weight : lighter;position: relative;">
          <span class="your-code">
            Tu c칩digo de recuperaci칩n de contrase침a es:
          </span>
          <em><%= token %></em>
        </span>
      <br />
      <span class="number-code">
          <span class="your-code">
            Tu UID:
          </span>
          <em><%= uid %></em>
        </span>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <img src="http://kubesoft.com/mutual/image-footer-restore.png" class="device-app" style="float: right"/>
  </div>
</div>
