<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Mutual</title>
</head>
<body>
<h2>Bienvenido a Mutual</h2>
<p>
  <b>Tu codigo de activacion es</b>: <em><%= token %></em>
<br>
  <b>Tu UID</b>: <em><%= uid %></em>
</p>
</body>
</html>
