<div
  style=" width : 100%;  height : 100%;  margin : 0;  padding: 2rem 0;  border : 0;  tex-align:center;  background : #ecf0f1;">
  <div
    style="width : 680px;  margin : 0 auto; overflow :hidden;height : 869px;background-image: url('http://kubesoft.com/mutual/bck-emails-new.png')">

    <div style="margin-top : 13rem;padding: 0 1rem 0 2rem">
      <img src="http://kubesoft.com/mutual/text-welcome.png" alt="Welcome"
           style="margin-top : 2rem; position :relative;"/>
      <img src="http://kubesoft.com/mutual/logo.png" style="float: right; position : relative; margin-top : -3rem;"/>
    </div>


    <div style="margin-top: 2rem; padding: 0 1rem 0 2rem;color :#36578A;font-weight : bold">
      <br/>
      <br/>
      <br/>
      <br/>
      <span style="font-weight : lighter;position: relative;">
          <span class="your-code">
            Tu código de activación es:
          </span>
          <em><%= token %></em>
      </span>
      <br/>
      <span class="number-code">
          <span class="your-code">
            Tu UID:
          </span>
          <em><%= uid %></em>
      </span>
    </div>


    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>


    <br/>
    <br/>

    <img src="http://kubesoft.com/mutual/app-device.png"/>
  </div>
</div>
